body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.hamburger-menu {
  display: none;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  z-index: 2;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.panel-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.panel-size {
  display: flex;
  margin-right: 60px;
  gap: 20px;
  font-weight: 500;
  font-size: 20px;
}
.panel-block {
  display: flex;
  justify-content: end;
  width: 1100px;
}
.panel-block a {
  text-decoration: none;
  color: black;
}
.panel-block a:hover {
  color: rgb(104, 104, 104);
}
.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.box-one {
  display: flex;
  margin-top: 100px;
}
.box-one img {
  display: flex;
  margin-left: 140px;
}
.section-text h1 {
  font-weight: 700;
  font-size: 44px;
}
.section-text p {
  margin-bottom: 40px;
  line-height: 25px;
}
.section-text p {
  font-size: 16px;
}
button a {
  text-decoration: none;
  color: white;
}
.section-text button {
  background-color: #12713b;
  color: #ffffff;
  font-size: 20px;
  border-radius: 2px;
  width: 208px;
  height: 47px;
  cursor: pointer;
  border: none;
}
.box-img img {
  object-fit: cover;
  width: 243px;
  height: 243px;
  border-radius: 50%;
}
.post {
  display: flex;
  width: 100%;
  margin-top: 60px;
  background-color: #edf7fa;
  justify-content: center;
  padding-bottom: 20px;
}
.container-two {
  max-width: 1000px;
  width: 100%;
}
.nav-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-post p,
a {
  font-size: 22px;
}
.nav-post a {
  align-self: center;
  text-decoration: none;
  font-size: 16px;
  color: #00a8cc;
}
.nav-post:hover a {
  color: #006fdf;
}
.box-post {
  border-radius: 4px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.box-post h1 {
  font-size: 26px;
  line-height: 40px;
}
.line {
  display: flex;
}
.por {
  width: 2px;
  height: 20px;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
}
.interval {
  line-height: 20px;
  margin-bottom: 20px;
}
.card-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.container-three {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.text-works {
  font-size: 22px;
}
.img-cards {
  display: flex;
  border-bottom: 1px #e0e0e0 solid;
  padding-bottom: 20px;
  padding-top: 20px;
}
.bor-date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  background-color: black;
  width: 60px;
  height: 30px;
  border-radius: 20px;
}
.das-board {
  display: flex;
  margin-bottom: 0px;
}
.om-text {
  margin-left: 20px;
}
.om-text h1,
p {
  margin-bottom: 0;
}
.pol-color {
  color: #8695a4;
  font-size: 20px;
  margin-left: 20px;
}
.cos-foot {
  margin-top: 90px;
  gap: 40px;
  display: flex;
  justify-content: center;
}
.img-cards {
  opacity: 0;
  transition: opacity 0.1s ease, transform 0.6s ease;
  transition: all 0.6s ease-out;
  box-shadow: 0 0 0 transparent;
}
/* Класс, который будет добавляться, когда элемент виден */
.img-cards.show {
  padding-left: 20px;
  padding-right: 20px;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.info-fot {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 60px;
}
@media (max-width: 717px) {
  .panel-size {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .interval {
    text-align: start;
  }
  .container {
    flex-direction: column-reverse;
  }
  .section-text h1,p {
    text-align: center;
  }
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-img {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .box-one img {
    margin: 0;
    display: flex;
  }
}
@media (max-width: 820px) {
  .card-section {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 620px) {
  .img-cards {
    flex-direction: column;
    max-width: 340px;
  }
  .container-three {
    align-items: center;
  }
  .card-text {
    text-align: start;
  }
}
