body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.hamburger-menu {
  display: none;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  text-align: center;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.nav-post p,a {
  font-size: 22px;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.panel-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.panel-size {
  display: flex;
  margin-right: 60px;
  gap: 20px;
  font-weight: 500;
  font-size: 20px;
}
.panel-block {
  display: flex;
  justify-content: end;
  width: 1100px;
}
.panel-block a {
  text-decoration: none;
  color: black;
}
.panel-block a:hover {
  color: rgb(104, 104, 104);
}
.blog-section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 682px;
}
.box-info {
  display: flex;
}
.blog-text {
  font-size: 44px;
  font-weight: 700;
}
.box-p {
  font-size: 30px;
  font-weight: 700;
}
.par-text {
  display: flex;
  gap: 20px;
}
.line-text {
  margin-top: 12px;
  height: 25px;
  width: 2px;
  background-color: black;
}
.color-exp {
  color: #8695a4;
}
.info-par-text {
  margin-top: 5px;
}
.line-gray {
  background-color: #e0e0e0;
  height: 1px;
}
.cos-foot {
  margin-top: 90px;
  gap: 40px;
  display: flex;
  justify-content: center;
}
.info-fot {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 60px;
}
@media (max-width: 730px) {
  .panel-size{
    display: none;
  }
  .blog-text{
    font-size: 30px;
  }
  .container{
    padding-right: 20px;
    padding-left: 20px;
  }
  .hamburger-menu{
    display: block;
  }
}
